<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/users" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">UserApp (Spring Boot)</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/users">List users</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/users/add">Add user</a>
        </nav>
    </div>
</div>